html,
body {
    background-color: #2D133A;
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    font-size: 100%
}

input {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    border-bottom: 4px solid rgb(0, 0, 0);
}

input#imgUpload {
    display: none;
}

input#imgUpload+label {
    background-color: #8A72ED;
    padding: 10px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

textarea {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    border-bottom: 2px solid rgb(0, 0, 0);
}

textarea:focus {
    outline: 1px solid rgb(0, 0, 0);
    ;
    background-color: #E5FFFF;
}

input:focus {
    outline: 1px solid rgb(0, 0, 0);
    ;
    background-color: #E5FFFF;
}
::-webkit-scrollbar {
    background: #3F357A; 
    width: 10px;
    border-radius: 10px;
  }
::-webkit-scrollbar-thumb {
    background: #6B29F8; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #562ab4; 
  }
.showdow {
    box-shadow: 4px 3px 9px 5px rgba(0, 0, 0, 0.1);
}
.textwhire{
    color: white;
}

.imgloder {
    display:none;
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top:50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    z-index: 99;
    animation: spin 5000ms infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
.textloading{
    font-size:200%
}

.Tophead {
    background-color: #2D133A;
    padding: 10px 10px 0px 10px;
    margin: 0;
    margin-bottom: 10px;
    /*border-radius: 0px 0px 20px 20px;*/
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 80;
}

.TrickTophead {
    background-color: #572C86;
    padding: 10px 10px 0 10px;
    margin: 0;
    margin-bottom: 10px;
    /*-radius: 0px 0px 20px 20px;*/
}

.Bigtitle {
    text-align: center;
    font-size: 200%;
    text-decoration: none;
    color: white;
    margin: 10px;
    display: inline-block;
    font-family: 'Chakra Petch', sans-serif;
}
.titleSn {
    font-size: 200%;
    text-decoration: none;
    color: #ffffff;
    display: block;
    font-weight: bold;
}

.btnTophead {
    text-align: center;
    color: black;
    background-color: #FBDE61;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    font-size: 110%;
    display: inline-block;
    width: 20%;
    margin: 10px;
    box-shadow: 4px 3px 9px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.25s ease-out, background-color 0.25s ease-out;
}

.btnTophead:hover {
    background-color: #FCE995;
    transform: scale(1.05, 1.05);
}
.miniloing{
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 99;
}
.smallloing{
    width: 20px;
}

.btnEven {
    text-align: center;
    vertical-align: middle;
    color: white;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    width: 20%;
    margin: 10px;
    cursor: pointer;
    border: none;
    transition: transform 0.25s ease-out;
    object-fit: none;
    /*object-position: 100% 200%;*/
}

.btnEven:hover {
    transform: scale(1.05, 1.05);
}

.buttonImg {
    display: inline-block;
    margin: 5px;
    transition: transform 0.25s ease-out;

}

.buttonImg:hover {
    transform: scale(1.05, 1.05);
}

.btnmini {
    border-radius: 10px;
    background-color: #ffd2e7;
    padding: 8px;
    margin: 10px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.bander {
    background-color: #382368;
    width: 100%;
    height: 100px;
    margin-top: 0%;
}

.bigimg {
    width: 100%;
}
.miniimg {
    height: 50px;
    border-radius:100%;
}

.main_box {
    max-width: 900px;
    margin: auto;
    height: auto;
    padding: 5px 10px 10px 10px;
    min-height: 250px;
}

.center_Incontent {
    max-width: 100%;
    margin: auto;
    text-align: center;
}



.BOXcontent { 
    margin: 20px 0 30px 0;

    border-radius: 15px;
    background-color: #422A4C;
    padding: 10px 20px 10px 20px;
    /*box-shadow: 4px 3px 9px 5px rgba(0, 0, 0, 0.05);*/
}

.image {
    width: 100%;
    border-radius: 10px;
    margin-bottom: none;
}
.border-radius{
    border-radius: 15px;
}

.popup {
    display: none;
    position: fixed;
    max-width: 80%;
    top: 50%;
    left: 50%;
    transform-origin: center;
    z-index: 9;
    transform: translate(-50%, -50%);
    align-items: center;
    background-color: #FDE5D9;
    border-radius: 5px;
    padding: 10px;
}

.inpopup {
    text-align: center;
    vertical-align: top;
    display: inline-block;

}

.Vertical_LineL {
    border-left: 2px solid rgb(0, 0, 0);
    height: auto;
    margin: 10px;
    padding-left: 10px;
}

.Vertical_LineR {
    border-right: 2px solid rgb(0, 0, 0);
    height: auto;
    margin: 10px;
    padding-right: 10px;
}
.horizontal_LineB {
    background-color:#4c3e6b;
    border-radius: 15px;
    height: 2px;
    width: auto;
    margin: 0px 20px 0px 20px;
    padding-right: 10px;
}
.horizontal_LineT {
    background-color:#4c3e6b;
    border-radius: 15px;
    height: 1.5px;
    width: auto;
    margin: 0px 20px 10px 20px;
    padding-right: 10px;
}

.text200 {
    font-size: 200%
}

.text150 {
    font-size: 150%
}

.text100 {
    font-size: 100%
}
.nondisplay {
    display: none;
}
.vertical-align-middle {
    vertical-align: middle;
}

.note {
    inline-size: 250px;
    word-wrap: break-word;
    vertical-align: top;
    text-align: left;
}

.black_content {
    height: auto;
    border-radius: 5px;
    background-color: #000000;
    color: white;
    padding: 10px;
    padding-left: 30px;
}

@media screen and (min-width:300px) {
    .Tophead {
        padding: 0;
    }
    .TrickTophead{
        padding: 0;
    }

    .Bigtitle {
        font-size: 130%;
    }

    .btnTophead {
        font-size: 70%;
        padding: 5px;
        border-radius: 5px;
        width: auto;
        padding: 3px;
    }
}

@media screen and (min-width:400px) {
    .Tophead {
        padding: 5px 5px 0px 5px;
    }
    .TrickTophead{
        padding: 5px 5px 0px 5px;
    }

    .Bigtitle {
        font-size: 180%;
    }

    .btnTophead {
        font-size: 100%;
        padding: 5px;
        border-radius: 5px;
        width: auto;
        padding: 3px;
    }
}

@media screen and (min-width:1000px) {
    .Tophead {
        padding: 10px 10px 0 10px;
    }
    .TrickTophead{
        padding: 10px 10px 0px 10px;
    }

    .Bigtitle {
        font-size: 200%;
    }

    .btnTophead {
        font-size: 110%;
        padding: 10px;
        border-radius: 10px;
        width: 20%;
        padding: 10px;
    }
}

.overflowNoti {
    background-color: #DFCAEE;
    text-align: justify;
    width: auto;
    height: 150px;
    overflow: auto;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.boxNoti{
    display: flex;
    box-sizing: border-box;
    vertical-align:middle;
    margin:5px;
    padding: 5px;
    border-bottom: 1px solid rgb(53, 53, 53);
}
.Lnoti{
    display:block;
    width: 50px;
}
.Cnoti{
    display:block;
    flex-grow: 1;
    margin:5px;
    padding: 5px;
    text-align: left;
    word-wrap: break-word;
}
.Rnoti{
    text-align: left;
    display:block;
    width: 100px;
    font-size: 75%;
    color: rgb(122, 122, 122)
}

.nonesensor{
    display: inline-block;
    color:white;
    background-color:none;
    border-radius:  20px;
}
.sensor{
    display: inline-block;
    background-color:black;
    border-radius:  20px;
    color:black;
}
.footer {
    color: #989898;
    /*border-top: 2px solid #4c3e6b;*/
    background-color: #2D133A;
    padding: 10px;
    text-align: center;
    margin: 10px 0px 0px 0px;
}
.textfooter{
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 2fr 3fr;
    column-gap: 5px;
    margin-bottom: 10px;
}
.Lfooter{
    display:block;
    word-wrap: break-word;
}
.Rfooter{
    border-left: 1px solid #4c3e6b;
    padding: 0 0 0 10px;
    text-align: left;
    display:block;
    word-wrap: break-word;
}
.imgiconfooter{
    height: 15px;
}
.lingfooter{
    text-decoration: none;
    color: #989898;
    transition: color 0.2s ease-out;
}
.lingfooter:hover{
    color: #fafafa;
}
.textfootername{
    font-size: 150%;
    font-family: 'Chakra Petch', sans-serif;
    color: #989898;
}
/*https://love2dev.com/blog/html-website-copyright/*/
/*https://fontawesome.com/v5/icons/html5?s=brands*/